
.container-main-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}





.main{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 11;
    margin-top: 70px;
}

    .main>*{
        margin-bottom: 10px;
    }
    
        .contenido {
            grid-template-columns: repeat(5, 1fr);
            display: grid;
            grid-gap: 5px;
            width: 100%;
            padding: 0 10px;
            font-size: 10px;
            }
  
        .title-contenido {
            grid-column: span 5;
            font-weight: 3;
            font-size: 3em;
            color: var(--titulo);
            margin-left: 20px;
            cursor: auto;
        }

.aside{
    grid-column: span 10;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    
}
.aside-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(24, 24, 24);
}

.container-content-footer{
    margin: auto;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10px;
}


.container-info-footer{
    width: 20em;
    background-color: red;
    grid-column: span 3;
}